<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            background-color: purple;
        }
        h1{
            font-family: fantasy;
            color: aqua;
        }
        h2{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: chartreuse;
        }
        tr{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: blanchedalmond;
            height: 50px;
            text-align: left;
            max-width:100%;
            white-space:nowrap;
        }
        table, th, td {
        border: 1px solid black;
        width: 100%;
        }
        tr:hover {background-color: #f5f5f5;}

    </style>
</head>
<body>
    <h1>List of all clients</h1>
    <table>
        <tr>
            <th>Client id</th>
            <th>Client Name</th>
        </tr>
        <tr>Client id:</tr>
        <tr>Client Name:</tr>
    </table>

    <h1>List of courses listed for selected client</h1>
    <h2>Client Name: </h2>
    <table>
        <tr>
            <th>Course id</th>
            <th>Course name</th>
        </tr>
        <tr>Course id: </tr>
        <tr>Course name: </tr>
    </table>
    
    <h1>List of users that registered for this course:</h1>
    <h2>Course Name: </h2>
    <table>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
        </tr>
        <tr>User id</tr>
        <tr>User name: </tr>
    </table>
</body>
</html>