<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Paymerang Client billing info:</h1>
    <table>
        <tr>
            <th>Payee</th>
            <th>Payment Info:</th> 
            <th>Remittance</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>PAN</td>
            <td>Payor Name</td>

        </tr>
        <tr>
            <td>Fax</td> 
            <td>CVV</td> 
            <td>Payor ID</td> 

        </tr>  
        <tr>    
            <td>Phone Number</td>
            <td>Exp</td>
            <td>Invoice No.</td>

        </tr>  
        <tr>    
            <td>Address</td>
            <td>Description</td>
            <td>Amount</td>
        </tr>       
   </table>
   
</body>
</html>